body{
    margin:0px;
}

main{
    /*
    display: flex;
    gap: 50px;
    /*
    it's flexbox on the parent container
which automatically puts all direct children in one row
since your children are just img and div, you get a 2-col effect
    */
    align-items: flex-start;
    /* above prevents image from strethcing entire height of div*/
    justify-content: center;
    /*center two children in the middle*/
    max-width: 1440px;
    margin: 70px auto;
    /*
    thanks to discord user cirex314
    */
    
    display: grid;
    align-items: center; 
    grid-template-columns: auto auto;
    column-gap: 5px;
    
}
h1 {
    text-align: center;
}

.navBar ul{
    /*
    . = class, ul means list. We're saving in the navBar class, go through the unordered list
    */
    list-style-type: none;
    /*
    the styling of the list is remove anything attached 
    */

    background-color:rgb(74, 74, 74);
    padding: 0px;
    margin: 0px;

    overflow:hidden;
    /*
    See the list, even if it's horizontal 
    */

}

.navBar a{
    /* 
    In the navBar class, set all elements. Like "for a" in python loops
    */

    color:white;
    text-decoration: none;
    /*
    removes underline
    */
    padding: 15px;
    display: block;
    text-align: center;
}

.navBar a:hover{
    /*
    same as before but the : means a psuedo class, loop though all elements as long as the mouse is hovering
    */
    background-color: hsl(0,0%,10%);
}

.navBar li{
    /* 
    in our navigation bar, take our list items
    */
    float: left;
    /*
    take our elements and put them to the left
    */

}



#image{
    width:50%;
    position: sticky;
    
    
}

.info {
    color: white;
  }

#bookCover{
    right: 50%;
    width:100%;
}

  #text{
    width:50%;
    float:right;
    position: sticky;
  }

 


  